h1{
        color: red;
        padding-top: 250px;
}
body{
    font-family: sans-serif;
    font-size: 36px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 250px;
}